html, root{
    max-width: 99vw;
    max-height: 99vh;
    box-sizing: border-box;
    
}

body {
    /* base */
    margin                 : 0 60px;
    @import url("https     ://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:ital@0;1&display=swap");
    font-family            : "Open Sans", " Arial", sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* gen */
    display        : flex;
    justify-content: center;
    padding        : 10px;
    text-align     : left;
    // width          : 100vw;
    // height         : 100vh;

    font-size : 18px;
    color     : cyan;

    /* carbon fiber bg */
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%,
            #1a1a1a 25%,
            #1a1a1a 50%,
            transparent 50%,
            transparent 75%,
            #242424 75%,
            #242424);
    background-color: #131313;
    background-size : 20px 20px;
    /* .mobilehidden{
  display           : inline;
} */

@media screen and (min-width: 600px) {
    .mobilereveal {
        display: none;
    }
}

    @media screen and (max-width: 600px) {
        .home {
            border: none;
        }
        .mobilehidden {
            display: none;
        }
    }

    .errormsg {
        display   : block;
        text-align: center;
        font-size : bold;
        color     : red;
    }

    .offscreen {
        color: black;
    }



}