.moneypot {
  padding: 10px;
  text-align: left;
  ul {
    text-align: left !important;
    display: block !important;
    list-style: circle;
  }

  table, th, td{
    text-align: center;
    border: 1px white solid;
    border-collapse: collapse;
    th, td{
      padding: 10px;
    }
  }


}
